

* {
  margin: 0; padding: 0;
}
 
#container {
  overflow: hidden;
  height: 800px;
  background: #edeae8;
  position: relative;
  text-align: center
}

#overlay {
  position: relative;
  top: 0; right: 0; left: 0; bottom: 0;
  width: 60%;
  margin: auto;
}
 
video {
  position: absolute;
   
  /* Vertical and Horizontal center*/
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

input
{
	width:80%;
}

.panel{
	background: rgba(230, 230, 230, 0.5);
	
	margin: 0px;
}

#logo { 
  color: #fff;
  display: inline-block;
  background: red; 
  padding: 0px; 
  text-decoration: none;
  position: relative;
  top: 0; right: 0; left: 0; bottom: 0;
  padding: 0 2% 0 2%;
  margin: 2% auto 2% auto;
  text-align: center; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
  font-style : italic;
  font-size: 4em;
}

/*fix for ipad and ipad pro*/

@media only screen and (min-height: 800px) {
    #container {
        height: 1400px;
    }
}

